button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=search] {
  outline-offset: -2px;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #1A1A25;
  background: #F6F6F6;
}

p, h2, h3 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1470px;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
}

.list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
  gap: 30px;
  margin-bottom: 30px;
}

.item {
  position: relative;
  grid-column: span 3;
}

.text {
  position: absolute;
  left: 30px;
  top: 30px;
  max-width: 150px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.slider-btn {
  position: absolute;
  z-index: 5;
  flex-shrink: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  color: #F53B49;
  background: #FFF;
  box-shadow: -2px -2px 32px -8px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.slider-btn:hover {
  color: #FFF;
  background: #F53B49;
}

.prev {
  top: 205px;
  left: 2px;
}

.next {
  top: 205px;
  right: 335px;
}

.link {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #F53B49;
  border-radius: 4px;
  padding: 12px 19px;
  font-size: 14px;
  font-weight: 700;
  color: #F53B49;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover {
  color: #FFF;
  background: #F53B49;
}

.link:focus {
  outline: none;
}

/* header */
.header {
  color: #FFF;
}
.header__modal {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 26, 37, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.header__modal:target {
  visibility: visible;
  opacity: 1;
}
.header__div-tel, .header__div-cabinet {
  position: relative;
  text-align: center;
  border-radius: 6px;
  padding: 0 45px;
  padding-top: 62px;
  padding-bottom: 47px;
  width: 600px;
  background: #FFF;
  box-shadow: 0px 10px 30px 0px rgba(133, 143, 164, 0.1);
  transition: 0.5s;
}
.header__div-cabinet {
  padding: 60px 70px;
  padding-bottom: 58px;
}
.header__modal-tel-close {
  position: absolute;
  top: 18px;
  right: 20px;
  transition: color 0.3s;
}
.header__modal-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #1A1A25;
}
.header__modal-tel-form {
  text-align: left;
}
.header__modal-tel-label p {
  font-size: 16px;
  line-height: 24px;
  color: #384255;
}
.header__modal-tel-label p span {
  color: #F53B49;
}
.header__modal-tel-input {
  box-sizing: border-box;
  border: 1px solid rgba(144, 156, 181, 0.5);
  border-radius: 6px;
  padding: 13px 10px;
  width: 100%;
  background: #F6F6F6;
}
.header__modal-tel-input:focus {
  outline: none;
}
.header__modal-tel-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #909CB5;
}
.header__modal-tel-label:not(:last-child) .header__modal-tel-input {
  margin-bottom: 12px;
}
.header__modal-tel-label:last-child .header__modal-tel-input {
  margin-bottom: 20px;
}
.header__modal-tel-text {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  color: #858FA4;
}
.header__modal-tel-text a {
  color: #F53B49;
}
.header__modal-tel-btn {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background: #F53B49;
  cursor: pointer;
  transition: background-color 0.3s;
}
.header__modal-cabinet-btn {
  border-radius: 4px;
  margin-right: 12px;
  padding: 12px 20px;
  opacity: 0.7;
  background: #384255;
}
.header__modal-cabinet-subbtn {
  box-sizing: border-box;
  border: 1px solid rgba(144, 156, 181, 0.7);
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #384255;
}
.header__cabinet-div {
  text-align: center;
  margin-bottom: 21px;
}
.header__cabinet-text {
  margin-right: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #384255;
}
.header__modal-cabinet-sublink {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  color: #4B7EE8;
}
.header__subdiv {
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  padding-top: 25px;
  padding-bottom: 26px;
  background: #1A1A25;
}
.header__cube {
  justify-content: space-between;
}
.header__logo {
  flex-shrink: 0;
  margin-top: 0;
  margin-right: 50px;
}
.header__choices {
  position: relative;
  overflow: hidden;
  width: 68px;
  font-size: 14px;
  line-height: 19.6px;
  color: #858FA4;
}
.header__choices-two {
  margin-right: 26px;
  width: 42px;
}
.header__choices:focus {
  outline: none;
}
.header__choices:last-child {
  margin-bottom: 0;
}
.header__choices.is-open {
  overflow: visible;
}
.header__choices.is-disabled .header__choices-inner, .header__choices.is-disabled .header__choices-input {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__choices.is-disabled .header__choices-item {
  cursor: not-allowed;
}
.header__choices [hidden] {
  display: none;
}
.header__choices[data-type*=select-one] {
  cursor: pointer;
}
.header__choices[data-type*=select-one]::after {
  content: url("../img/marker.svg");
  position: absolute;
  right: 0;
  top: -3px;
  color: #858FA4;
  pointer-events: none;
  transform-origin: center;
}
.header__choices[data-type*=select-one].is-open::after {
  transform: rotate(-180deg) translate(0, -6px);
}
.header__choices-inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
}
.header__choices-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.header__choices-list--single {
  display: inline-block;
  width: 100%;
}
.header__choices-list--single .header__choices-item {
  width: 100%;
}
.header__choices-list--dropdown {
  visibility: hidden;
  z-index: 5;
  position: absolute;
  width: 200px;
  top: 100%;
  margin-top: -1px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}
.header .is-active.header__choices-list--dropdown, .header .is-active.header__choices-list[aria-expanded] {
  visibility: visible;
}
.header__choices-list--dropdown .header__choices-list, .header__choices-list[aria-expanded] .header__choices-list {
  position: relative;
  max-height: 270px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}
.header__choices-list--dropdown .header__choices-item, .header__choices-list[aria-expanded] .header__choices-item {
  position: relative;
  padding: 16px;
  font-size: 16px;
  line-height: 22px;
  background: #272736;
}
.header__choices-list--dropdown .header__choices-item.is-selected {
  display: none;
}
.header__choices-list--dropdown .header__choices-item--selectable.is-highlighted, .header__choices-list[aria-expanded] .header__choices-item--selectable.is-highlighted {
  background: #1A1A25;
}
.header__choices-item {
  cursor: default;
}
.header__choices-item--selectable {
  cursor: pointer;
}
.header__choices-item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
}
.header__subcube {
  border-right: 1px solid rgba(133, 143, 164, 0.15);
  margin-right: 30px;
  padding-right: 30px;
}
.header__sublink {
  margin-right: 30px;
  font-size: 14px;
  line-height: 19.6px;
  color: #909CB5;
}
.header__subbtn {
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #F6F6F6;
  background: #384255;
}
.header__tel {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 500;
}
.header__phone {
  font-size: 14px;
  line-height: 19.6px;
  color: #F53B49;
}
.header__cabinet {
  font-size: 14px;
  line-height: 19.6px;
}
.header__cabinet svg {
  margin-left: 11px;
}
.header__div {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #1A1A25;
}
.header__find {
  margin-right: 48px;
}
.header__btn {
  border-radius: 4px;
  margin-right: 50px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
  background: #F53B49;
  transition: background-color 0.3s;
}
.header__btn svg {
  margin-right: 6px;
}
.header__btn:hover, .header__modal-tel-btn:hover {
  background: #E32A38;
}
.header__margin-link {
  margin-right: 36px;
}
.header__link {
  font-size: 14px;
  line-height: 19.6px;
  transition: 0.3s color;
}
.header__link:hover {
  color: #909CB5;
}
.header__newdiv {
  padding-top: 14px;
  padding-bottom: 14px;
  background: #2A2C38;
}
.header__icon {
  position: relative;
  color: #FFF;
  transition: color 0.3s;
}
.header__icon:hover, .header__icon:focus {
  color: #F53B49;
}
.header__icon:hover .header__count, .header__icon:focus .header__count {
  color: #FFF;
}
.header__icon:not(:last-child) {
  margin-right: 46px;
}
.header__icon:nth-child(2) {
  margin-right: 42px;
}
.header__icon:last-child {
  margin-right: 18px;
}
.header__count {
  position: absolute;
  right: -10px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #1A1A25;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  font-size: 10px;
  background: #F53B49;
  transition: color 0.3s;
}
.header__icon:nth-child(2) .header__count {
  right: -5px;
}
.header__icon:nth-child(3) .header__count {
  right: -13px;
}
.header__house-link {
  font-size: 14px;
  font-weight: 700;
}
.header__house-link svg {
  margin-left: 10px;
}
.header__house-link:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  margin-right: 19px;
  padding-right: 19px;
}
.header__modal-tel-btn:focus, .header__logo:focus, .header__sublink:focus, .header__subbtn:focus, .header__tel:focus, .header__phone:focus, .header__cabinet:focus, .header__btn:focus, .header__search:focus, .header__link:focus, .header__icon:focus, .header__house-link:focus {
  outline: none;
}

/* hero */
.hero {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  max-width: 1800px;
  background: linear-gradient(180deg, #DEDFE7 0%, rgba(233, 234, 239, 0) 100%), #E9EAEF;
}
.hero__container {
  padding-left: 33px;
  max-width: 1462px;
}
.hero__slider {
  position: relative;
}
.hero__list {
  display: flex;
  justify-content: space-between;
}
.hero__item {
  padding-top: 83px;
  padding-bottom: 81px;
}
.hero__text {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 900;
  line-height: 26.4px;
  color: #F53B49;
  text-transform: uppercase;
}
.hero__title {
  margin-bottom: 24px;
  max-width: 398px;
  font-size: 49.545px;
  font-weight: 900;
  line-height: 54.5px;
  color: #1A1A25;
  text-transform: uppercase;
}
.hero__title span {
  font-weight: 400;
  line-height: 110%;
}
.hero__photo-one {
  position: absolute;
  bottom: 0;
}
.hero__photo-two {
  position: absolute;
  right: 112px;
}
.hero__slider-btn {
  position: absolute;
  z-index: 5;
  flex-shrink: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  color: #F53B49;
  background: #FFF;
  box-shadow: -2px -2px 32px -8px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.hero__slider-btn:hover {
  color: #FFF;
  background: #F53B49;
}
.hero__slider-btn:focus {
  outline: none;
}
.hero__prev {
  bottom: 30px;
  right: 60px;
}
.hero__next {
  bottom: 30px;
  right: 0;
}

/* simulators */
.simulators {
  padding-top: 60px;
  padding-bottom: 60px;
}
.simulators__text {
  position: absolute;
  left: 30px;
  top: 30px;
  max-width: 150px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}
.simulators__item:first-child .simulators__text {
  color: #FFF;
}
.simulators__item {
  grid-row: 1/span 2;
}
.simulators .item {
  border-radius: 6px;
  background: #E9EAEF;
  transition: background-color 0.3s;
}
.simulators .item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.item:nth-child(-n+2) .simulators__text {
  top: 36.5px;
}
.item:nth-child(3) .simulators__text, .item:nth-child(4) .simulators__text, .item:nth-child(5) .simulators__text, .item:nth-child(6) .simulators__text {
  top: 30.75px;
}

/* fitness */
.fitness {
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
  margin-bottom: 65px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.fitness__item:first-child {
  grid-column: span 6;
}
.fitness__text {
  left: 33px;
  top: 29px;
}
.fitness__text-six {
  max-width: 240px;
}
.fitness__item:first-child .fitness__text {
  color: #FFF;
}

/* stock */
.stock {
  padding-top: 60px;
  padding-bottom: 100px;
}
.stock__container {
  position: relative;
  margin-right: 15px;
  max-width: 1680px;
}
.stock__margin-link:not(:last-child) {
  margin-right: 39px;
}
.stock__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #828282;
}
.stock__margin-link:first-child .stock__link {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #1A1A25;
}
.stock__item {
  position: relative;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
}
.stock__item picture img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.stock__sale, .stock__like, .stock__new {
  position: absolute;
  top: 10px;
  left: 10px;
}
.stock__like {
  left: 36px;
}
.stock__new {
  left: 62px;
}
.stock__comparison, .stock__selected {
  position: absolute;
  top: 16px;
  z-index: 5;
  color: #858FA4;
  transition: color 0.3s;
}
.stock__comparison {
  right: 43px;
}
.stock__selected {
  right: 14.6px;
}
.stock__comparison:hover, .stock__selected:hover {
  color: #F53B49;
}
.stock__item:hover {
  box-shadow: 0px 4px 30px 0px rgba(19, 15, 38, 0.1), 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
}
.stock__item:hover .stock__like {
  left: 56px;
}
.stock__item:hover .stock__new {
  left: 102px;
}
.stock__cube {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px;
  padding-bottom: 26px;
  background: #FFF;
}
.stock__in, .stock__in-red, .stock__in-orange {
  margin-right: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #2FC509;
}
.stock__in-red {
  color: #F53B49;
}
.stock__in-orange {
  color: #F99808;
}
.stock__circle-green, .stock__circle-orange {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #2FC509;
}
.stock__circle-orange {
  background: #F99808;
}
.stock__circle-green-none, .stock__circle-red, .stock__circle-orange-none {
  box-sizing: border-box;
  border: 1px solid #2FC509;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.stock__circle-red {
  border-color: #F53B49;
}
.stock__circle-orange-none {
  border-color: #F99808;
}
.stock__circle:not(:last-child) {
  margin-right: 2px;
}
.stock__circle:nth-child(4) {
  margin-right: 8px;
}
.stock__is {
  font-size: 12px;
  font-weight: 500;
  color: #4B7EE8;
}
.stock__subtitle {
  margin-top: 7px;
  margin-bottom: 11px;
  max-width: 260px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1A1A25;
}
.stock__stars {
  margin-bottom: 16px;
}
.stock__stars svg:not(:last-child) {
  margin-right: 2px;
}
.stock__raiting {
  margin-right: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #909CB5;
}
.stock__block {
  justify-content: space-between;
}
.stock__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 23.109px;
  color: #1A1A25;
}
.stock__old-price {
  font-size: 16px;
  line-height: 21.75px;
  color: #858FA4;
  text-decoration: line-through;
}
.stock__btn {
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background: #F53B49;
  transition: background-color 0.3s;
}
.stock__btn svg {
  margin-right: 6px;
}
.stock__btn:hover {
  background: #E32A38;
}
.stock__dis {
  display: none;
}

/* ideas */
.ideas {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #1A1A25;
}
.ideas .title {
  color: #FFF;
}
.ideas__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 400px;
  gap: 30px;
  margin-bottom: 30px;
}
.ideas__item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #E9EAEF;
}
.ideas__item picture img {
  position: absolute;
}
.ideas__item:first-child {
  display: flex;
  grid-column: span 6;
  background: #F53B49;
}
.ideas__item:first-child picture img {
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ideas__item:first-child .ideas__subtitle {
  margin-bottom: 15px;
  max-width: 350px;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #FFF;
}
.ideas__item:first-child .ideas__subtitle span {
  font-size: 32px;
  font-weight: 800;
  line-height: 110%;
  color: #FFF;
}
.ideas__item:nth-child(2), .ideas__item:nth-child(3) {
  grid-column: span 3;
}
.ideas__item:nth-child(2) picture img {
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ideas__subtitle {
  padding-top: 30px;
  padding-left: 30px;
  max-width: 235px;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}
.ideas__subtitle span {
  font-size: 36px;
  color: #F53B49;
}
.ideas__div {
  margin-left: 23px;
}
.ideas__text {
  max-width: 138px;
  font-size: 20px;
  line-height: 22.987px;
  color: #1A1A25;
}
.ideas__text span {
  font-weight: 700;
}
.ideas .link {
  border-color: rgba(255, 255, 255, 0.7);
  color: #FFF;
}

/* brands */
.brands {
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
  margin-bottom: 67.5px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.brands__div {
  margin-bottom: 30px;
}
.brands__margin-link:not(:last-child) {
  margin-right: 30px;
}
.brands__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #384255;
}
.brands__list {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(133, 143, 164, 0.2);
  width: 282px;
  height: 170px;
  background: #FFF;
}

/* banners */
.banners {
  padding-top: 67.5px;
  padding-bottom: 29.4px;
}
.banners__list {
  margin-bottom: 40px;
}
.banners__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(133, 143, 164, 0.2);
  padding-top: 30px;
  padding-bottom: 40px;
  width: 352px;
  height: 305px;
  background: #FFF;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.banners__svg {
  flex-shrink: 0;
  margin-bottom: 26px;
  color: #F53B49;
}
.banners__item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.banners__item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.banners__item:hover {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  align-items: flex-start;
  padding-left: 38px;
  background: #F53B49;
}
.banners__item:hover .banners__subtitle, .banners__item:hover .banners__text, .banners__item:hover .banners__link {
  text-align: left;
  max-width: 170px;
  color: #FFF;
}
.banners__photo {
  flex-shrink: 0;
  margin-bottom: 26px;
  color: #F53B49;
}
.banners__item:hover .banners__svg {
  color: #FFF;
}
.banners__subtitle {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #1A1A25;
}
.banners__text {
  text-align: center;
  margin-bottom: 20px;
  max-width: 258px;
  color: #384255;
  font-size: 16px;
  line-height: 24px;
}
.banners__link {
  margin-top: auto;
  font-size: 14px;
  font-weight: 600;
  color: #F53B49;
}
.banners__link svg {
  margin-left: 8px;
}

/* about */
.about {
  padding-top: 29.4px;
  padding-bottom: 96px;
}
.about__container {
  margin: 0;
  margin-left: auto;
  margin-right: 12px;
  max-width: 1684px;
}
.about .title {
  margin-bottom: 40px;
}
.about__subtitle {
  margin-bottom: 22px;
  max-width: 572px;
  font-size: 34px;
  line-height: 47.6px;
  color: #384255;
}
.about__text {
  margin-bottom: 27px;
  max-width: 560px;
  font-size: 18px;
  line-height: 27px;
  color: #384255;
}
.about__margin {
  margin-bottom: 40px;
}

/* cube */
.cube {
  margin-bottom: 60px;
}
.cube__list {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  padding-top: 36px;
  padding-left: 96px;
  padding-right: 115px;
  background: #1A1A25;
}
.cube__item {
  margin-top: 40px;
  max-width: 572px;
}
.cube__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  color: #FFF;
}
.cube__title span {
  color: #F53B49;
}
.cube .link {
  border-color: rgba(255, 255, 255, 0.7);
  color: #FFF;
}

/* news */
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
.news__container {
  position: relative;
}
.news .prev {
  top: 150px;
}
.news .next {
  top: 150px;
}
.news__div {
  margin-bottom: 30px;
}
.news__margin-link:not(:last-child) {
  margin-right: 46px;
}
.news__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  color: #828282;
}
.news__margin-link:first-child .news__link {
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  color: #1A1A25;
}
.news__slider {
  margin-bottom: 30px;
}
.news__cube {
  padding: 20px 0;
  line-height: 24px;
  color: #384255;
}
.news__subtitle {
  margin-bottom: 10px;
  max-width: 230px;
  font-size: 20px;
  font-weight: 800;
}
.news__text {
  margin-bottom: 10px;
  max-width: 230px;
  font-size: 16px;
}
.news__date {
  font-size: 16px;
  opacity: 0.5;
}
.news__dis {
  display: none;
}

/* footer */
.footer {
  padding-top: 88px;
  padding-bottom: 51px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #858FA4;
  background: #1A1A25;
}
.footer__container {
  max-width: 1408px;
}
.footer__div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  margin-bottom: 51px;
  padding-bottom: 28px;
}
.footer__flex {
  display: flex;
}
.footer__list {
  width: 210px;
}
.footer__list:not(:last-child) {
  margin-right: 30px;
}
.footer__margin-link:not(:last-child) {
  margin-bottom: 12px;
}
.footer__margin-link:first-child {
  margin-bottom: 30px;
}
.footer__subtitle {
  color: #FFF;
}
.footer__link {
  transition: color 0.3s;
}
.footer__link:hover {
  color: #FFF;
}
.footer__btn {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 14px;
  width: 255px;
  font-size: 14px;
  line-height: 19.6px;
  background: rgba(133, 143, 164, 0.15);
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__tel {
  margin-bottom: 8px;
}
.footer__mail {
  margin-bottom: 8px;
  font-size: 16px;
  color: #858FA4;
}
.footer__phone, .footer__write {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 19.6px;
  color: #FFF;
}
.footer__write {
  margin-bottom: 40px;
}
.footer__page {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 19.6px;
  color: #4B7EE8;
}
.footer__subdiv {
  justify-content: space-between;
}
.footer__copyright {
  margin-top: 17px;
  font-size: 14px;
  line-height: 19.6px;
}
.footer__icons {
  margin-right: 148px;
}
.footer__margin-icon:not(:last-child) {
  margin-right: 10px;
}
.footer__icon {
  color: #909CB5;
  transition: color 0.3s;
}
.footer__margin-icon:first-child .footer__icon:hover {
  color: #dd4aa0;
}
.footer__margin-icon:nth-child(2) .footer__icon:hover {
  color: #4B7EE8;
}
.footer__margin-icon:last-child .footer__icon:hover {
  color: #F53B49;
}
.footer__new-btn {
  flex-shrink: 0;
  border-radius: 6px;
  margin-right: 30px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background: #384255;
}
.footer__new-link {
  flex-shrink: 0;
  box-sizing: border-box;
  border: 1px solid rgba(144, 156, 181, 0.5);
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #858FA4;
}
.footer__new {
  margin-right: 77px;
}
.footer__margin-img:not(:last-child) {
  margin-right: 30px;
}